In [11]:
import pandas as pd

data = {'Name': ['Adi', 'Om', 'Anu'],
        'Age': [15, 37, 25]}
df = pd.DataFrame(data)


df

  Name  Age
0  Adi   15
1   Om   37
2  Anu   25

In [12]:
# Display first few rows
print(df.head())

# Display last few rows
print(df.tail())

# Get basic information about the DataFrame
print(df.info())

# Summary statistics
print(df.describe())

  Name  Age
0  Adi   15
1   Om   37
2  Anu   25
  Name  Age
0  Adi   15
1   Om   37
2  Anu   25
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None
             Age
count   3.000000
mean   25.666667
std    11.015141
min    15.000000
25%    20.000000
50%    25.000000
75%    31.000000
max    37.000000

In [13]:
# Access a column
print(df['Name'])

# Access a row by index
print(df.loc[0])

# Access a specific cell
print(df.at[0, 'Age'])

0    Adi
1     Om
2    Anu
Name: Name, dtype: object
Name    Adi
Age      15
Name: 0, dtype: object
15

In [18]:
# Filter rows based on condition
filtered_df = df[df['Age'] > 30]
print(filtered_df)


# Filter rows based on multiple conditions
filtered_df = df[(df['Age'] > 14) & (df['Age'] < 35)]
print(filtered_df)

  Name  Age
1   Om   37
  Name  Age
0  Adi   15
2  Anu   25

In [21]:
# Add a new column
df['Gender'] = ['male', 'Male', 'feMale']
print(df)

# Remove a column
df.drop('Gender', axis=1, inplace=True)
print(df)

  Name  Age  Gender
0  Adi   15    male
1   Om   37    Male
2  Anu   25  feMale
  Name  Age
0  Adi   15
1   Om   37
2  Anu   25

In [22]:
# Check for missing values
print(df.isnull())

# Drop rows with missing values
df.dropna(inplace=True)

# Fill missing values with a specific value
df.fillna(0, inplace=True)

    Name    Age
0  False  False
1  False  False
2  False  False

In [25]:
# Sort DataFrame by a column
sorted_df = df.sort_values(by='Age', ascending=True)
print(sorted_df)

  Name  Age
0  Adi   15
2  Anu   25
1   Om   37

In [26]:
for index, row in df.iterrows():
    print(row['Name'], row['Age'])

Adi 15
Om 37
Anu 25

In [28]:
#merging data
df1 = pd.DataFrame({'key': ['A', 'B'], 'value': [1, 2]})
df2 = pd.DataFrame({'key': ['A', 'B'], 'value': [3, 4]})
result = pd.merge(df1, df2, on='key')
print(result)

  key  value_x  value_y
0   A        1        3
1   B        2        4