In [7]:
#strings

str = 'Hello World!!!!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print ("Say "+str) # Prints concatenated string
print(len(str))      #print length of string

Hello World!!!!
H
llo
llo World!!!!
Hello World!!!!Hello World!!!!
Say Hello World!!!!
15

In [6]:
#multiline strings
str1 = """this
is multiline
string."""
print(str1)

this
is multiline
string.

In [16]:
# check if a certain character is present in a string
txt = "hello, how are u"
if "are" in txt:
  print("Yes, 'are' is present.")
else:
  print("no")

Yes, 'are' is present.

In [20]:
#slicing
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [25]:
#string modification
a = "HELLO, WORLD!"
print(a.lower())
print(a.replace("H", "J"))

s1="WORD"
print ("original string:", s1)
l1=list(s1)

l1.insert(3,"L")

print (l1)

s1=''.join(l1)
print ("Modified string:", s1)

hello, world!
JELLO, WORLD!
original string: WORD
['W', 'O', 'R', 'L', 'D']
Modified string: WORLD

In [24]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [66]:
#string methods
q = "hello, welcome all."

x = q.capitalize()

print (x)
print(q.casefold())
print(q.center(50))
print(q.count("all"))
print(q.encode())
print(q.endswith("."))
print(q.find("all"))
print(q.index("welcome"))
print(q.isalpha())
print(q.isalnum())
print(q.rfind("everyone"))
print(q.replace("all","everyone"))
print(q.upper())

Hello, welcome all.
hello, welcome all.
               hello, welcome all.
1
b'hello, welcome all.'
True
15
7
False
False
-1
hello, welcome everyone.
HELLO, WELCOME ALL.

In [80]:
#list
list = [ 'abcd', 78 , 2.23, 'hi', 70.2 ]
list1 = [123, 'hello']

print (list)            # Prints complete list
print (list[0])         # Prints first element of the list
print (list[1:3])       # Prints elements starting from 2nd till 3rd 
print (list[2:])        # Prints elements starting from 3rd element
print (list1 * 2)    # Prints list two times
print (list + list1) # Prints concatenated lists
print(len(list))
print(list[-1])

['abcd', 78, 2.23, 'hi', 70.2]
abcd
[78, 2.23]
[2.23, 'hi', 70.2]
[123, 'hello', 123, 'hello']
['abcd', 78, 2.23, 'hi', 70.2, 123, 'hello']
5
70.2

In [88]:
thislist = ["apple", "banana", "cherry"]  #modifying list
thislist[1] = "blackcurrant"
print(thislist)
thislist.append("orange")
print(thislist)
thislist.insert(1, "orange")
print(thislist)
thislist.remove("orange")
print(thislist)
thislist.pop()
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'cherry', 'orange']
['apple', 'orange', 'blackcurrant', 'cherry', 'orange']
['apple', 'blackcurrant', 'cherry', 'orange']
['apple', 'blackcurrant', 'cherry']

In [90]:
#sorting list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist.sort(reverse = True)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [92]:
list1 = ["a", "b", "c"] #joining list
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [99]:
#methods
'''
append()Adds an element at the end of the list
clear()Removes all the elements from the list
copy()Returns a copy of the list
count()Returns the number of elements with the specified value
extend()Add the elements of a list to the end of the current list
index()Returns the index of the first element with the specified value
insert()Adds an element at the specified position
pop()Removes the element at the specified position
remove()Removes the item with the specified value
reverse()Reverses the order of the list
sort()Sorts the list 
'''

'\nappend()Adds an element at the end of the list\nclear()Removes all the elements from the list\ncopy()Returns a copy of the list\ncount()Returns the number of elements with the specified value\nextend()Add the elements of a list (or any iterable), to the end of the current list\nindex()Returns the index of the first element with the specified value\ninsert()Adds an element at the specified position\npop()Removes the element at the specified position\nremove()Removes the item with the specified value\nreverse()Reverses the order of the list\nsort()Sorts the list \n'

In [101]:
#tuples
tuple1 = ("apple", "banana", "mango")
print(tuple1)

('apple', 'banana', 'mango')

In [104]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print(tup1[0])
print(tup2[1:5])

physics
(2, 3, 4, 5)

In [107]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
tup3 = tup1 + tup2;
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [1]:
#for loop
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [3]:
#set
# Creating an empty set
empty_set = set()

# Creating a set with elements
my_set = {1, 2, 3, 4, 5}

my_set.add(6)  # Add a single element
my_set.update([7, 8, 9])  # Add multiple elements
my_set.remove(2)  # Remove a specific element
my_set.discard(10)  # Remove an element if it exists, without raising an error
my_set.pop()  # Remove and return an arbitrary element
my_set.clear()  # Remove all elements from the set

In [6]:
# Union
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2  # {1, 2, 3, 4, 5}

# Intersection
intersection_set = set1 & set2  # {3}

# Difference
difference_set = set1 - set2  # {1, 2}

# Symmetric Difference
symmetric_difference_set = set1 ^ set2  # {1, 2, 4, 5}
print(symmetric_difference_set)

{1, 2, 4, 5}

In [7]:
# Check if an element exists in the set
print(3 in my_set)  # True

# Get the number of elements in the set
print(len(my_set))

# Convert a list to a set
my_list = [1, 2, 3, 3, 4, 5]
unique_set = set(my_list)  # {1, 2, 3, 4, 5}

# Iterate over a set
for item in my_set:
    print(item)

# Copy a set
copied_set = my_set.copy()

# Check if one set is subset/superset of another
subset_check = set1.issubset(set2)
superset_check = set1.issuperset(set2)

# Check if two sets are disjoint (have no common elements)
disjoint_check = set1.isdisjoint(set2)

False
0

In [17]:
#dictionary
# Creating an empty dictionary
empty_dict = {}

# Creating a dictionary with key-value pairs
my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [18]:
# Accessing values using keys
value = my_dict["key1"]  # Accessing value1

# Modifying values
my_dict["key2"] = "new_value"  # Modifying value of key2

# Adding new key-value pairs
my_dict["key4"] = "value4"

In [19]:
# Getting the number of key-value pairs in the dictionary
print(len(my_dict))

# Checking if a key exists in the dictionary
print("key1" in my_dict)  # True

# Removing a key-value pair
removed_value = my_dict.pop("key3")

# Getting a list of keys
keys_list = list(my_dict.keys())

# Getting a list of values
values_list = list(my_dict.values())

# Getting a list of key-value pairs as tuples
items_list = list(my_dict.items())

# Clearing all key-value pairs from the dictionary
my_dict.clear()

4
True

In [21]:
# Iterating over keys
my_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}
print(my_dict)
for key in my_dict:
    print(key)

# Iterating over values
for value in my_dict.values():
    print(value)

# Iterating over key-value pairs
for key, value in my_dict.items():
    print(key, value)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
key1
key2
key3
value1
value2
value3
key1 value1
key2 value2
key3 value3