In [5]:
import csv

greek_gods_data = [
    ["God", "Domain", "Symbol", "Age"],
    ["Zeus", "King of the Gods", "Thunderbolt", 10000],
    ["Poseidon", "God of the Sea", "Trident", 9000],
    ["Hera", "Queen of the Gods", "Peacock", 8500],
    ["Athena", "Goddess of Wisdom", "Owl", 8000],
    ["Hades", "God of the Underworld", "Helmet", 9500]
]
greek_goddesses_data = [
    ["Goddess", "Domain", "Symbol", "Age"],
    ["Aphrodite", "Goddess of Love", "Dove", 7000],
    ["Artemis", "Goddess of the Hunt", "Bow and Arrow", 7500],
    ["Demeter", "Goddess of Agriculture", "Wheat", 8000],
    ["Hestia", "Goddess of the Hearth", "Fire", 8200],
    ["Persephone", "Queen of the Underworld", "Pomegranate", 7800]
]

In [8]:
# Write to greek_gods.csv
with open("greek_gods.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(greek_gods_data)

In [9]:
# Write to greek_goddesses.csv
with open("greek_goddesses.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(greek_goddesses_data)

In [12]:
#1.Merge the data from greek_gods.csv and greek_goddesses.csv based on a common field and create a new table that includes information about both gods and goddesses.


import pandas as pd

# Read CSV files
greek_gods = pd.read_csv("greek_gods.csv")
greek_goddesses = pd.read_csv("greek_goddesses.csv")

# Merge based on Domain
merged_table = pd.merge(greek_gods, greek_goddesses, on="Domain", how="outer")

print("Merged Table:")
print(merged_table)

Merged Table:
        God                   Domain     Symbol_x    Age_x     Goddess  \
0      Zeus         King of the Gods  Thunderbolt  10000.0         NaN
1  Poseidon           God of the Sea      Trident   9000.0         NaN
2      Hera        Queen of the Gods      Peacock   8500.0         NaN
3    Athena        Goddess of Wisdom          Owl   8000.0         NaN
4     Hades    God of the Underworld       Helmet   9500.0         NaN
5       NaN          Goddess of Love          NaN      NaN   Aphrodite
6       NaN      Goddess of the Hunt          NaN      NaN     Artemis
7       NaN   Goddess of Agriculture          NaN      NaN     Demeter
8       NaN    Goddess of the Hearth          NaN      NaN      Hestia
9       NaN  Queen of the Underworld          NaN      NaN  Persephone

        Symbol_y   Age_y
0            NaN     NaN
1            NaN     NaN
2            NaN     NaN
3            NaN     NaN
4            NaN     NaN
5           Dove  7000.0
6  Bow and Arrow  7500.0
7          Wheat  8000.0
8           Fire  8200.0
9    Pomegranate  7800.0

In [13]:
#2.Filter the merged table to only include gods and goddesses who are older than 8000 years, then sort them based on their ages in descending order.

filtered_table = merged_table[(merged_table["Age_x"] > 8000) | (merged_table["Age_y"] > 8000)]
sorted_table = filtered_table.sort_values(by=["Age_x", "Age_y"], ascending=False)

print("\nFiltered and Sorted Table:")
print(sorted_table)

Filtered and Sorted Table:
        God                 Domain     Symbol_x    Age_x Goddess Symbol_y  \
0      Zeus       King of the Gods  Thunderbolt  10000.0     NaN      NaN
4     Hades  God of the Underworld       Helmet   9500.0     NaN      NaN
1  Poseidon         God of the Sea      Trident   9000.0     NaN      NaN
2      Hera      Queen of the Gods      Peacock   8500.0     NaN      NaN
8       NaN  Goddess of the Hearth          NaN      NaN  Hestia     Fire

    Age_y
0     NaN
4     NaN
1     NaN
2     NaN
8  8200.0

In [14]:
#3.Join the two tables based on the "Domain" field and calculate the average age of gods and goddesses in each domain.

# Join based on Domain
joined_table = pd.merge(greek_gods, greek_goddesses, on="Domain", how="outer", suffixes=('_god', '_goddess'))

# Calculate average age
average_age_by_domain = joined_table.groupby("Domain")[["Age_god", "Age_goddess"]].mean()

print("\nAverage Age by Domain:")
print(average_age_by_domain)

Average Age by Domain:
                         Age_god  Age_goddess
Domain
God of the Sea            9000.0          NaN
God of the Underworld     9500.0          NaN
Goddess of Agriculture       NaN       8000.0
Goddess of Love              NaN       7000.0
Goddess of Wisdom         8000.0          NaN
Goddess of the Hearth        NaN       8200.0
Goddess of the Hunt          NaN       7500.0
King of the Gods         10000.0          NaN
Queen of the Gods         8500.0          NaN
Queen of the Underworld      NaN       7800.0

In [15]:
#4.Determine which god/goddess has the highest age, and then find out if they are a god or a goddess.

# Find the max age and corresponding entity
max_age = max(joined_table[["Age_god", "Age_goddess"]].max())
max_entity = "God" if max_age == joined_table["Age_god"].max() else "Goddess"

print("\nEntity with the highest age:", max_entity)
print("Highest Age:", max_age)

Entity with the highest age: God
Highest Age: 10000.0

In [16]:
#5.Create a new column in each table called "Age_Group" and categorize the gods/goddesses into groups such as "Young" (age < 5000), "Middle-aged" (age between 5000 and 8000), and "Old" (age > 8000).


# Define age groups
def categorize_age(age):
    if age < 5000:
        return "Young"
    elif age <= 8000:
        return "Middle-aged"
    else:
        return "Old"

# Apply categorization
greek_gods["Age_Group"] = greek_gods["Age"].apply(categorize_age)
greek_goddesses["Age_Group"] = greek_goddesses["Age"].apply(categorize_age)

print("\nGreek Gods Table with Age Groups:")
print(greek_gods)

print("\nGreek Goddesses Table with Age Groups:")
print(greek_goddesses)

Greek Gods Table with Age Groups:
        God                 Domain       Symbol    Age    Age_Group
0      Zeus       King of the Gods  Thunderbolt  10000          Old
1  Poseidon         God of the Sea      Trident   9000          Old
2      Hera      Queen of the Gods      Peacock   8500          Old
3    Athena      Goddess of Wisdom          Owl   8000  Middle-aged
4     Hades  God of the Underworld       Helmet   9500          Old

Greek Goddesses Table with Age Groups:
      Goddess                   Domain         Symbol   Age    Age_Group
0   Aphrodite          Goddess of Love           Dove  7000  Middle-aged
1     Artemis      Goddess of the Hunt  Bow and Arrow  7500  Middle-aged
2     Demeter   Goddess of Agriculture          Wheat  8000  Middle-aged
3      Hestia    Goddess of the Hearth           Fire  8200          Old
4  Persephone  Queen of the Underworld    Pomegranate  7800  Middle-aged

In [17]:
#6.Compare the average ages of gods and goddesses. Is there a significant age difference between them? If yes, which group tends to be older?

# Calculate average ages
average_age_gods = greek_gods["Age"].mean()
average_age_goddesses = greek_goddesses["Age"].mean()

# Compare average ages
if average_age_gods > average_age_goddesses:
    print("\nGods tend to be older on average.")
    print("Average Age of Gods:", average_age_gods)
    print("Average Age of Goddesses:", average_age_goddesses)
elif average_age_goddesses > average_age_gods:
    print("\nGoddesses tend to be older on average.")
    print("Average Age of Goddesses:", average_age_goddesses)
    print("Average Age of Gods:", average_age_gods)
else:
    print("\nAverage ages of gods and goddesses are the same.")

Gods tend to be older on average.
Average Age of Gods: 9000.0
Average Age of Goddesses: 7700.0

In [18]:
#7.Write a Python program using for loop to iterate over the "Age" column of the merged table (after merging the gods and goddesses tables) and print out the names of gods/goddesses who are older than 8000 years.

# Get names of gods/goddesses older than 8000 years
older_than_8000 = []
for index, row in merged_table.iterrows():
    if row["Age_x"] > 8000:
        older_than_8000.append(row["God"])
    if row["Age_y"] > 8000:
        older_than_8000.append(row["Goddess"])

print("\nGods/Goddesses older than 8000 years:")
for name in older_than_8000:
    print(name)

Gods/Goddesses older than 8000 years:
Zeus
Poseidon
Hera
Hades
Hestia

In [22]:
#8.Write a Python program to find the oldest god/goddess from the merged table (after merging the gods and goddesses tables) by iterating through the "Age" column using a while loop. Print out the name of the oldest god/goddess and their age.

# Create a merged table
merged_table = pd.merge(greek_gods, greek_goddesses, on="Domain", how="outer")

# Iterate through the "Age" column to find the oldest god/goddess
max_age = -1
oldest = ""
i = 0
while i < len(merged_table):
    if merged_table.loc[i, "Age_x"] > max_age:
        max_age = merged_table.loc[i, "Age_x"]
        oldest = merged_table.loc[i, "God"]
    if merged_table.loc[i, "Age_y"] > max_age:
        max_age = merged_table.loc[i, "Age_y"]
        oldest = merged_table.loc[i, "Goddess"]
    i += 1

# Print the oldest god/goddess and their age
print("Oldest:", oldest)
print("Age:", max_age)

Oldest: Zeus
Age: 10000.0